$bh-color: white;
$text-primary: #0049b0;
$success-color: #34bf49;
$info-color: #6dcff6;
$warning-color: #f49a9e;
$danger-color: #ed1c24;
$text-dark: #202020;
$hover-bg: #eaecf0;


$margin-top-lg: 95px;
$margin-top-md: 65px;
$margin-top-sm: 15px;
