$bh-color: white;
$text-primary: #0049b0;
$success-color: #34bf49;
$info-color: #6dcff6;
$warning-color: #f49a9e;
$danger-color: #ed1c24;
$text-dark: #202020;
$hover-bg: #eaecf0;

$margin-top-lg: 95px;
$margin-top-md: 65px;
$margin-top-sm: 15px;

$star-active: url('../../img/stars/star-solid.svg') no-repeat center;
$star-inert: url('../../img/stars/star-regular.svg') no-repeat center;

$background: lightcoral;
$easing: cubic-bezier(.25,1.7,.35,.8);
$duration: 0.5s;
