.radio-cstm {
  &__container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  &__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #5e5d5c;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  &__container:hover input ~ &__checkmark {
    background-color: $hover-bg;
  }

  /* When the radio button is checked, add a blue background */
  &__container input:checked ~ &__checkmark {
    background-color: $bh-color;
    border-color: $info-color;
    
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  &__container input:checked ~ &__checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  &__container &__checkmark:after {
     top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $info-color;
  }
}
